name: CI
on:
  pull_request:
  push:
    branches: [main]
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Test downloading plural
        uses: ./
        with:
          config: ${{ secrets.PLURAL_CONF }}
          vsn: '0.5.18'
